frontend/node_modules
backend/node_modules
backend/.env
frontend/.env
aiml/.env
aiml/data/dataset
aiml/weights
aiml/.venv
aiml/uv.lock
aiml/data/dataset_cropped
aiml/raw_videos
aiml/outputs
aiml/final_overlay.jpg
aiml/image_report.pdf